<!-- templates/return_item.html -->
{% extends 'base.html' %}

{% block title %}Return Item - {{ super() }}{% endblock %}

{% block content %}
<div class="row">
    <div class="col-md-6 offset-md-3">
        <div class="card">
            <div class="card-header">
                <h4>Process Item Return</h4>
            </div>
            <div class="card-body">
                <h5>Rental Details</h5>
                <table class="table table-bordered">
                    <tr>
                        <th>Customer:</th>
                        <td>{{ user.name }}</td>
                    </tr>
                    <tr>
                        <th>Item:</th>
                        <td>{{ item.title }}</td>
                    </tr>
                    <tr>
                        <th>Type:</th>
                        <td>{{ item.type }}</td>
                    </tr>
                    <tr>
                        <th>Rental Date:</th>
                        <td>{{ rental.rental_date.strftime('%Y-%m-%d') }}</td>
                    </tr>
                    <tr>
                        <th>Due Date:</th>
                        <td>{{ rental.due_date.strftime('%Y-%m-%d') }}</td>
                    </tr>
                    <tr>
                        <th>Total Charge:</th>
                        <td>Rs. {{ rental.total_charge }}</td>
                    </tr>
                    <tr>
                        <th>Status:</th>
                        <td>
                            {% if rental.return_date and rental.due_date < rental.return_date %}
                                <p>Item is overdue.</p>
                            {% else %}
                                <p>Item is returned on time.</p>
                            {% endif %}
                        </td>
                    </tr>
                </table>

                <form method="POST">
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary">Process Return</button>
                        <a href="{{ url_for('clerk_dashboard') }}" class="btn btn-secondary">Cancel</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}